var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
console.log(new_comment);
console.log($('#comments'));
$('#comments').prepend(new_comment);
console.log($('#comments'));
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();